* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/*navegacion principal*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  text-align: center;
  transition: 0.6s;
  padding: 40px;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.432);
}

header .logo {
  position: relative;
  margin-left: 40px;
  transition: 0.6s;
  width: 170px;
}

.wrapper {
  height: 40px;
  width: 45vw;
  line-height: 40px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.603), -3px -3px 7px rgba(255, 255, 255, 0.05);
  margin-right: 40px;
}

header .wrapper nav {
  position: relative;
  display: flex;
}

header .wrapper nav label {
  flex: 1;
  width: 100%;
  z-index: 1;
  position: relative;
  cursor: pointer;
}

header .wrapper nav label a {
  position: relative;
  z-index: -1;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.6s ease;
  color: white;
}

.wrapper nav #Home:checked~label.Home a,
.wrapper nav #About:checked~label.About a,
.wrapper nav #Services:checked~label.Services a,
.wrapper nav #ContactUs:checked~label.ContactUs a,
.wrapper nav #Team:checked~label.Team a {
  color: white;
  font-weight: bold;
  text-shadow: -1px 2px 2px rgb(73, 67, 67);
  z-index: 0;
}

.wrapper nav .tab {
  position: absolute;
  height: 100%;
  width: 20%;
  left: 0;
  bottom: 0;
  background: linear-gradient(30deg, #27920cb1, #00f7ffa8);
  border-radius: 50px;
  transition: 0.6s cubic-bezier(0.6, -0.55, 0.265, 1.55);
}

.wrapper nav #Home:checked~label.Home a {
  color: white;
}

.wrapper nav #About:checked~.tab {
  left: 20%;
}

.wrapper nav #Services:checked~.tab {
  left: 40%;
}

.wrapper nav #ContactUs:checked~.tab {
  left: 60%;
}

.wrapper nav #Team:checked~.tab {
  left: 80%;
}

.wrapper nav input {
  display: none;
}

.user {
  height: 40px;
  width: 13vw;
  line-height: 40px;
  border-radius: 50px;
}

header .user nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .user nav .nav {
  flex: 1;
  width: 100%;
  position: relative;
  cursor: pointer;
}

header .user nav .nav a {
  text-decoration: none;
  color: white;
}

.btn {
  position: relative;
  transition: all .8s;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.603), -3px -3px 7px rgba(255, 255, 255, 0.05);
  margin-right: 5px;
}

.btn:hover {
  background: linear-gradient(30deg, #2fb30e, #159ba0);
  transition-delay: .3s;
  color: rgb(255, 255, 255);
}

.d1,
.d2 {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #0d6405f1;
  transform: scaleX(0);
  transition: all .4s;
  transition-delay: .4s;
}

.d3,
.d4 {
  width: 4px;
  height: 100%;
  position: absolute;
  background: #0d6405f1;
  transform: scaleY(0);
  transition: all 0.4s;
}

.d1 {
  top: 0;
  transform-origin: left;
}

.d2 {
  bottom: 0;
  transform-origin: right;
}

.d3 {
  top: 0;
  transform-origin: top;
}

.d4 {
  right: 0;
  bottom: 0;
  transform-origin: bottom;
}

.btn:hover .d1,
.btn:hover .d2 {
  transform: scaleX(1);
  transition-delay: 0s;
}

.btn:hover .d3,
.btn:hover .d4 {
  transform: scaleY(1);
  transition-delay: .4s;
}

header .user nav .nav .btn:hover {
  font-weight: bold;
  text-shadow: 2px -3px 1px rgb(73, 67, 67);
  transform: translateY(10px);
}

header .user nav .nav #right:hover {
  font-weight: bold;
  text-shadow: 2px -3px 1px rgb(73, 67, 67);
  transform: translateY(10px);
}

/*fin de navegacion principal*/

/*titulo*/
.titulo {
  width: 100%;
  height: 100vh;
  background-image: url(imagenes/lake-6003746_1920.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  animation: changeColor 5s linear infinite;
}

.titulo h1 {
  margin: auto;
  font-size: 58px;
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
}

.titulo .borde .dot {
  color: white;
}

/*fin del titulo*/

/*Productos*/

.container {
  width: 100%;
}

.container h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 38px;
  text-shadow: 0px 5px 10px rgba(168, 168, 168, 0.685);
  background: -webkit-linear-gradient(#c57242, #eeff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Servicios tarjetas*/

.servicios {
  padding: 100px 0px;
  box-sizing: border-box;
  background: linear-gradient(30deg, #2fb30e, #159ba0);
}

.contenedor {
  width: 1200px;
  height: 520px;
  margin: 0 auto;
}

.contenedor .columna {
  position: relative;
  width: 400px;
  float: left;
  transition: 0.5s;
}

.contenedor .columna .box {
  position: relative;
  width: 320px;
  min-height: 550px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-right: 1px solid rgba(255, 255, 255, 0.02);
  border-bottom: rgba(255, 255, 255, 0.02);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: .5s;
}

.contenedor .columna .box:hover {
  transform: translateY(-20px);
}

.contenedor .columna .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transform: skewX(45deg) translateX(870);
  transition: 0.5s;
  pointer-events: none;
}

.contenedor .columna .box:hover::before {
  transform: skewX(45deg) translateX(-870px);
}

.contenedor .columna .box .titulo1 .fa {
  margin-top: 20px;
  font-size: 60px;
  color: #e6ab6d;
}

.contenedor .columna .box .titulo1 h2 {
  color: #fff;
  margin: 20px 0 0;
  padding: 0;
}

.contenedor .columna .box .precio h4 {
  font-size: 60px;
  color: #e6ab6d;
  margin: 10px 0;
  padding: 0px;
}

.contenedor .columna .box .opciones ul {
  margin: 20px 0;
  padding: 0;
}

.contenedor .columna .box .opciones ul li {
  list-style: none;
  color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.contenedor .columna .box .opciones ul li i {
  margin-right: 10px;
}

.contenedor .columna .box .opciones ul li:last-child {
  border-bottom: none;
}

.contenedor .columna .box a {
  display: inline-block;
  position: relative;
  background: rgba(0, 0, 0, 0.501);
  color: rgb(233, 233, 233);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 20px;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all .4s;
  border-radius: 10px;
}

.contenedor .columna .box a:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.24);
}

.contenedor .columna .box a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(30deg, #0ed3e9, #0516ff);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
  transition: all .4s;
}

.contenedor .columna .box a:hover::before {
  height: 50%;
}

#contenedor2 {
  margin-top: 100px;
}

/*Fin tarjetas*/
/*Fin de produtos*/

/*cartas*/
.cartitas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #161623;
}

.workers {
  position: relative;
}

.contenedorcarta {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.contenedorcarta .cartas {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  filter: blur(0px);
}

.contenedorcarta .cartas .more {
  position: absolute;
  bottom: -60px;
  display: flex;
  transform: translateY(100px);
  transition: 0s;
  opacity: 0;
  text-decoration: none;
}

.contenedorcarta .cartas:hover .more {
  transform: translateY(-100px);
  transition: 0.5s;
  opacity: 1;
  box-shadow: 0px 0px 2px #14f339;
}

.contenedorcarta .cartas:hover .more a {
  text-decoration: none;
  color: #fff;
  background: transparent;
  border: 1px solid black;
  padding: 5px;
}

.contenedorcarta .cartas .more a:hover {
  font-weight: bold;
  text-shadow: 1px 1px 2px #14f339;
  transform: rotate(-5deg)skew(5deg);
  border: 3px solid #1cae34;
}


.contenedorcarta .cartas .contenido {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.75;
  transition: 0.5s;
}

.contenedorcarta .cartas:hover .contenido {
  opacity: 1;
  transform: translateY(-80px);
}

.contenedorcarta .cartas .contenido .imagen {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.contenedorcarta .cartas .contenido .imagen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
}

.contenedorcarta .cartas .contenido .contenidotext h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.contenedorcarta .cartas .contenido .contenidotext h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.contenedorcarta .cartas .cli {
  position: absolute;
  bottom: 30px;
  display: flex;
}

.contenedorcarta .cartas .cli li {
  list-style: none;
  margin: 0 25px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
}

.contenedorcarta .cartas:hover .cli li {
  transform: translateY(-100px);
  opacity: 1;
}

.contenedorcarta .cartas .cli li a {
  color: #fff;
  font-size: 14px;
}

.contenedorcarta:hover .cartas {
  filter: blur(10px);
  transition: 0.5s;
}

.contenedorcarta .cartas:hover {
  filter: blur(0px);
  transition: 0.5s;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.603), -3px -3px 7px rgba(255, 255, 255, 0.05);
}

/*fin de cartas*/

/*iconos*/

.iconos a .layer {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.iconos a:hover .layer {
  transform: rotate(360deg)skew(20deg);
}

.iconos a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid#fff;
  border-radius: 5px;
  transition: all 0.3s;
}

.iconos a .layer span.fab {
  font-size: 16px;
  line-height: 35px;
  text-align: center;
}

.iconos a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.iconos a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(2px, -2px);
}

.iconos a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(4px, -4px);
}

.iconos a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(6px, -6px);
}

.iconos a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(8px, -8px);
}

.iconos a:nth-child(1) .layer span,
.iconos a:nth-child(1) .textito {
  font-weight: bold;
}

.iconos a:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #14f339;
}

.iconos a .textito {
  position: absolute;
  left: 30%;
  bottom: 0;
  opacity: 0;
  transform: translateX(-20%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.iconos a:hover .textito {
  bottom: -20px;
  left: 0px;
  opacity: 1;
  font-size: 12px;
}

.iconos a:hover .textito {
  transform: rotate(-5deg)skew(5deg);
  color: white;
  text-shadow: 1px 1px 3px #17acbd;
}

.iconos a:hover #twitt {
  bottom: -20px;
  left: 10px;
  opacity: 1;
  font-size: 12px;
}

.iconos a:hover #face {
  bottom: -20px;
  left: 0px;
  opacity: 1;
  font-size: 12px;
}

.iconos a:hover .layer span.fab {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  background: rgb(12, 162, 97);
}

/*Fin de iconos*/

/*Conocenos*/

.about-section {
  padding: 10px;
  background: rgba(108, 119, 117, 0.527);
}

.section-title h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  font-size: 48px;
  text-shadow: 0px 5px 10px rgba(168, 168, 168, 0.685);
  background: -webkit-linear-gradient(120deg, #045891e3, #1a352fef);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 50px;
  flex-wrap: 0 0 80%;
  z-index: 1;
  position: relative;
}

.izqui {
  display: flex;
  background-size: cover;
  height: 100%;
  border-radius: 2%;
  margin-left: 200px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cartAU {
  position: relative;
  margin-left: 50px;
  width: 250px;
  height: 350px;
  background: rgba(89, 199, 179, 0.692);
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cartAU:hover {
  z-index: 1000px;
  transform: perspective(2000px)rotate(-370deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}

.cartAU .imgca {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}

.cartAU:hover .imgca {
  transform: rotateY(-145deg);
}

.cartAU .imgca img {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 350px;
}

.cartAU .detalles {
  position: absolute;
  top: 30px;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
}

.cartAU:hover .detalles {
  opacity: 1;
}

.cartAU .detalles h2 {
  margin-bottom: 30px;
}

.dere {
  padding: 25px 40px;
  border: 1p solid #27ae60;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  margin-right: 100px;
  margin-top: -10px;
}

.inner-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(108, 119, 117, 0.527);
  height: 543px;
  margin-bottom: 60px;
}

.dere h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  margin-top: revert;
  text-transform: uppercase;
  text-shadow: 0px 5px 10px rgba(168, 168, 168, 0.685);
  background: -webkit-linear-gradient(40deg, #075b92e3, #226d5def);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dere .tt {
  font-size: 13px;
  color: #ffffff;
  line-height: 30px;
  text-align: justify;
  margin-top: 50px;
  height: 280px;
}

.dere .rede {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  margin-top: 20px;
}

.soci {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.ico {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 15px;
  opacity: 0.7;
}

.ico:hover {
  opacity: 1;
  transition: .5s;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.582);
  transform: translateY(-5px)translateX(-5px);
}

.insta {
  background: #125688;
  color: white;
}

.twi {
  background: #bb0000;
  color: white;
}

.fac {
  background: #3b5998;
  color: white;
}

/*Fin de conocenos*/

/*Footter*/

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .foot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .foot .sect {
  margin-right: 30px;
}

footer .foot .sect.uno {
  width: 40%;
}

footer .foot h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
  text-shadow: 2px -2px 4px rgba(223, 99, 99, 0.344);
}

footer .foot h2:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}

.lis {
  margin-top: 20px;
  display: flex;
}

.lis li {
  list-style: none;
}

.lis li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.lis li a:hover {
  background-color: #f00;
  box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.582);
  transition: 1s;
}

.lis li a .dec {
  color: #fff;
  font-size: 20px;
}

.dos {
  position: relative;
  width: 195px;
}

.dos ul li {
  list-style: none;
}

.dos ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.dos ul li a:hover {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(184, 147, 147, 0.582);
}

.tres {
  width: calc(35%-60px);
  margin-right: 80 !important;
}

.tres .inf {
  position: relative;
}

.tres .inf li {
  display: flex;
  margin-bottom: 16px;
}

.tres .inf li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.tres .inf li span {
  color: #999;
}

.tres .inf li a {
  color: #999;
  text-decoration: none;
}

.tres .inf li a:hover {
  color: #fff;
}

.copi {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px) {
  footer {
    padding: 0px;
  }

  footer .foot .sect {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .foot .sect.uno,
  .dos,
  .tres {
    width: 100%;
  }

  .copi {
    padding: 8px 40px;
  }
}

img {
  width: 100%;
}